.container {
  max-width: 1500px;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

h5 {
  color: #f4f6f6;
}

* Extra utilities .border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

/*
 * Custom translucent site header
 */

/* .site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
} */

/* .site-header a {
  color: white;
  transition: ease-in-out color .15s;
} */

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

/* .product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #8d8d8d;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
} */

/* .product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: #8d8d8d;
  border-radius: 5px;
} */

/* .product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
} */
