{% extends 'tasks/base.html' %} {% load static %}
<span></span>

{% block title %}
<title>Login</title>
{% endblock title %}

<span></span>
{% block head %}
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .main-content {
    background: url("{% static 'tasks/images/background.jpg' %}");
    background-position: center;
    background-size: cover;
  }
  .full-height {
    height: 100%;
  }
</style>
<link href="{% static 'tasks/css/login.css' %}" rel="stylesheet" />
{% endblock head %}

<span></span>

<span></span>
{% block content %}
<main class="container-fluid text-center main-content full-height">
  <div class="row full-height align-items-center">
    <form class="form-signin" method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{next}}">
      <img
        class="mb-4"
        src="{% static 'tasks/images/users-icon.png' %}"
        alt=""
        width="80"
        height="80"
      />
      <h1 class="h3 mb-3 font-weight-normal">Welcome</h1>

      {% if logged_out is True %}
      <div class="alert alert-success" role="alert">
        Successfully logged out
      </div>
      {% endif %}

      <label for="inputEmail" class="sr-only">Email address</label>
      <input
        type="email"
        id="username"
        name="username"
        class="form-control"
        placeholder="Email address"
        required
        autofocus
      />
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Password"
        required
      />
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        style="background-color: #2e3d45de; border-color: #2e3d45de"
      >
        Sign in
      </button>

      <h6 class="mt-2 mb-3" style="color: #1c1a1a">
        Don't have an account?
        <a href="{% url 'tasks:signup' %}">Create a Spizy Account </a>
      </h6>
    </form>
  </div>
</main>

{% endblock content %}

<span></span>
{% block footer %}{% endblock footer %}
